/******************************************************************************
            🏝 Stylesheet for The Crypto Cartel - MetaVilla 🏝
******************************************************************************/

body{
  overflow-y: scroll;
}

/******************************************************************************
                              Typography Styles
******************************************************************************/

h1{
  font-family: 'Luckiest Guy', cursive;
  font-size: 30px;
  line-height: 100%;
  color: white;
}

span{
  padding: 1rem;
  display: inline-block;
  width: 90%;
  height: 40%;
  font-size: 14px;
  color: white;
}

ul{
  display: block;
}


li {
  color: white;    
  font-size: 14px;
}

button {
  width: 100%;
  font-family: HK Grotesk;
  z-index: 3;
  background-color: black;
  border-radius: 20px;
  font-size: 1rem;
  line-height: 1.25;
  color: white;
  margin-right:0.5em;
  cursor: pointer;
  display: inline-block;
  transform: scale(0.95);
  transition: transform 0.2s ease-in-out;
}

button:hover {
  transform: scale(1);
  transition: transform 0.2s ease-in-out;
}

.gold-styling {
  --border-width: 2px;
  --border-radius: 20px;
  background: linear-gradient(to right, #BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C);
  border: 0;
  padding: 1rem;
  position: relative;
  border-radius: var(--border-radius);
  z-index: 1;
}

.gold-styling::before{
  content: "";
  display: block;
  height: calc(100% - calc(var(--border-width) * 2));
  width: calc(100% - calc(var(--border-width) * 2));
  background: #010101;
  position: absolute;
  top: var(--border-width);
  left: var(--border-width);
  border-radius: calc(var(--border-radius) - var(--border-width));
  z-index: -1;
}

.shine-styling {
  --border-width: 2px;
  --border-radius: 20px;
  background: linear-gradient(to right, #BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C);
  border: 0;
  padding: 1rem;
  position: relative;
  border-radius: var(--border-radius);
  z-index: 1;
}

.shine-styling::before{
  content: "";
  display: block;
  height: calc(100% - calc(var(--border-width) * 2));
  width: calc(100% - calc(var(--border-width) * 2));
  position: absolute;
  top: var(--border-width);
  left: var(--border-width);
  border-radius: calc(var(--border-radius) - var(--border-width));
  z-index: -1;
}



/******************************************************************************
                              Container Styles
******************************************************************************/

.container{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #010101;
  position: absolute;
}

.masthead{
  width: 100%;
  height: 100%;
  background: url() center no-repeat;
  background-size: cover;
  background-color: #010101;
}


.left-pane{
  width: 50vw;
  height: 100vh;
  left:0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.right-pane{
  width: 50vw;
  height: 100vh;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.pfp{
  width: 450px;
  height: 450px;
  background-size: contain;
  position: absolute;
  border: 3px solid transparent;
  border-image: linear-gradient(to right, #BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C);
  border-image-slice: 1;
}

.info-box{
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
}

.info-box{
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
}

.info-box ul{
  padding-left: 0.75rem;
}

.view-genesis{
  width: 55%;
}

.text-box{
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.title-box{
  height: 15%;
  width: 100%;
  display: flex;
  padding: 1rem;
  align-items: center;
  border: 3px solid transparent;
  border-top:0;
  border-left:0;
  border-right:0;
  border-image: linear-gradient(to right, #BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C);
  border-image-slice: 1;
}



/******************************************************************************
                                  Masthead
******************************************************************************/

.first-mast{
  top: 7.5vh;
  height: 92.5vh;
}

.first-mast .masthead{
  height: 85%;
  bottom: 10vh;
  position: absolute;
  background: url(https://cdn.glitch.me/25b6213a-d9a0-40e8-a0f3-a6a3f834a75d%2Fbanner.png?v=1638506266524) center no-repeat;
  background-size: cover;
  background-color: #010101;
}

/******************************************************************************
                              Welcome Fold Styles
******************************************************************************/

.meta-welcome{
  top: 100vh;
}

.meta-welcome .title-box{
  width: 110%;
  height: 15%;
}


.meta-welcome span{
  padding-left: 0;
  height: 50%;
}

.meta-welcome .pfp {
  background: url(https://cdn.glitch.me/25b6213a-d9a0-40e8-a0f3-a6a3f834a75d%2Fcartel-dudes-gif.gif?v=1638508703631) center no-repeat;
  background-size: contain;
}

/******************************************************************************
                              Classic Collection Styles
******************************************************************************/

.classic-collection{
  top: 200vh;
}

.classic-collection .pfp {
  background: url(https://cdn.glitch.me/25b6213a-d9a0-40e8-a0f3-a6a3f834a75d%2Fclassic-collection.png?v=1638659591074) center no-repeat;
  background-color: #010101;
  background-size: contain;
}

/******************************************************************************
                              Genesis Collection Styles
******************************************************************************/

.genesis-collection {
  top: 300vh;
}

.genesis-collection .pfp {
  background: url(https://cdn.glitch.me/25b6213a-d9a0-40e8-a0f3-a6a3f834a75d%2Fgenesis-collection.png?v=1638659412285) center no-repeat;
  background-color: #010101;
  background-size: contain;
}


/******************************************************************************
                              Legendary Collection Styles
******************************************************************************/

.legendary-collection {
  top: 400vh;
}

.legendary-collection .pfp {
  background: url(https://cdn.glitch.me/25b6213a-d9a0-40e8-a0f3-a6a3f834a75d%2Flegendary-collection.png?v=1638659409931) center no-repeat;
  background-color: #010101;
  background-size: contain;
}

/******************************************************************************
                                    Second Masthead
******************************************************************************/

.second-mast {
  top: 500vh;
}

.second-mast .masthead{
  width: 100%;
  height: 85%;
  bottom: 10vh;
  position: absolute;
  background: url(https://cdn.glitch.me/25b6213a-d9a0-40e8-a0f3-a6a3f834a75d%2Fcasino.gif?v=1638648952431) center no-repeat;
  background-size: cover;
  background-color: #010101;
}

/******************************************************************************
                              Business Plan styles
******************************************************************************/

.business-plan {
  top: 600vh;
  height: 250vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

.business-plan h1{
  font-size: 60px;
}

.business-plan .title-box{
  border: none;
  width: 90%;
  height: 5%;
  padding-left: 0;
}

.upper-title {
  position: absolute;
  top: 0;
}

.bottom-title {
  position: absolute;
  bottom: 0;
}

.phases-container{
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  position: absolute;
  border: 3px solid transparent;
  border-top:0;
  border-right:0;
  border-bottom:0;
  border-image: linear-gradient(to right, #BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C);
  border-image-slice: 1;
}

.phase-container{
  width: 100%;
  height: 30%;
  margin-bottom: 1em;
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.phase-container h1{
  font-size: 30px;
  background: linear-gradient(to right, #BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.phase-container .title-box{
  border: none;
  width: 90%;
  height: 10%;
  padding: 0;
}

.point-container{
  width: 90%;
  height: 40%;
  border: 3px solid transparent;
  border-top:0;
  border-right:0;
  border-image: linear-gradient(to right, #BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C);
  border-image-slice: 1;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0;
}

.point-container h2{
  font-family: HK Grotesk;
  font-size: 24px;
  margin-bottom: 0;
  color: white;
  padding: 1rem;
}

.point-container p{
  width: 40%;
  color: white;
  margin-right: 1rem;
}

/******************************************************************************
                                    Second Masthead
******************************************************************************/

.third-mast {
  top: 850vh;
}

.third-mast .masthead{
  width: 100%;
  height: 85%;
  bottom: 10vh;
  position: absolute;
  background: url(https://cdn.glitch.me/25b6213a-d9a0-40e8-a0f3-a6a3f834a75d%2Fbanner.png?v=1638506266524) center no-repeat;
  background-size: cover;
  background-color: #010101;
}

/******************************************************************************
                              FAQ Styles
******************************************************************************/

.faq {
  top: 950vh;
  flex-direction: column;
}