/******************************************************************************
            🏝 Stylesheet for The Crypto Cartel - MetaVilla 🏝
******************************************************************************/

body{
  overflow-y: scroll;
}

/******************************************************************************
                              METAVILLA PAGE
******************************************************************************/

/* Masthead */

.meta-mast{
  width: 100vw;
  height: 100vh;
  position: absolute;
  background: url(https://cdn.glitch.me/25b6213a-d9a0-40e8-a0f3-a6a3f834a75d%2Fbanner.png?v=1638506266524) center no-repeat;
  background-size: cover;
  border: 3px solid transparent;
  border-top:0;
  border-left:0;
  border-right:0;
  border-image: linear-gradient(to right, #BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C);
  border-image-slice: 1;
}

/* Welcome Fold */

.meta-welcome{
  width: 100vw;
  height: 100vh;
  top: 100vh;
  background-color: #010101;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.pfp-scroll{
  width: 50vw;
  height: 100vh;
  left:0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.pfp {
  width: 800px;
  height: 800px;
  background: url(https://cdn.glitch.me/25b6213a-d9a0-40e8-a0f3-a6a3f834a75d%2Fcartel-dudes-gif.gif?v=1638508703631) center no-repeat;
  background-size: contain;
  position: absolute;
  border: 3px solid transparent;
  border-image: linear-gradient(to right, #BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C);
  border-image-slice: 1;
}

.welcome-text{
  width: 50vw;
  height: 100vh;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.welcome-text-box{
  width: 750px;
  height: 750px;
  background: red;
  position: absolute;
}

.welcome-title-box{
  width: 100%;
  height: 20%;
  padding: 1rem;
  position: absolute;
  top: 0;
  background: green;
  display: flex;
  align-items: center;
  
}

.welcome-title-box h1{
  font-family: 'Luckiest Guy', cursive;
  font-size: 60px;
  line-height: 100%;
}

.welcome-info-box{
  width: 100%;
  height: 80%;
  padding: 1rem;
  position: absolute;
  bottom: 0;
  background: blue;
}

