/******************************************************************************
                     🏝 Stylesheet for The Crypto Cartel 🏝
******************************************************************************/



/******************************************************************************
                            UNIVERSAL STYLE SHEET
******************************************************************************/

/* Basic page style resets */
* {
  box-sizing: border-box;
}
[hidden] {
  display: none !important;
}

/* VARIABLES */

:root {
  
}

/* body { background-color: var(--blue); } */

/* TYPOGRAPHY */

/* Luckiest Guy – Main Font */

/* font-family: 'Luckiest Guy', cursive; */

/* Placeholder Font */

@font-face {
  font-family: HK Grotesk;
  src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Regular.otf?v=1603136326027")
    format("opentype");
}

@font-face {
  font-family: HK Grotesk;
  font-weight: bold;
  src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Bold.otf?v=1603136323437")
    format("opentype");
}

/* BODY PROPERTIES */

body {
  font-family: HK Grotesk;
  padding: 0;
  margin: 0;
  overflow-y: hidden;
  overflow-x: hidden;
}

.landing-container{
  width: 100vw;
  height: 100vh;
  background: none;
  position: absolute;
}

/******************************************************************************
                                  Header
******************************************************************************/

.header {
  width: 100vw;
  height: 7.5%;
  background-color: #010101;
  border: 3px solid transparent;
  border-top:0;
  border-left:0;
  border-right:0;
  border-image: linear-gradient(to right, #BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C);
  border-image-slice: 1;
  padding: 10px;
  top: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

/* Logo + Wordmark */

.logo-container {
  display: inline-block;
  left: 0.5vw;
  height: 100%;
  width: 50vh;
  position: absolute;
  background: url(https://cdn.glitch.me/25b6213a-d9a0-40e8-a0f3-a6a3f834a75d%2Flogo%2Bwordmark.svg?v=1638492962403) center no-repeat;
  background-color: none;
  background-size: contain;
}

/* Buttons */

.links-container{
  display: flex;
  align-items: center;
  justifyt-content: center;
  height: 100%;
  width:  42%;
  right: 0;
  position: absolute;
}

.button-container {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  right: 0;
  height: 100%;
  width: 50vh;
}

.button-container button {
  font-family: HK Grotesk;
  z-index: 3;
  padding: 0.2vw;
  background-color: black;
  border-radius: 10px;
  font-size: 1.8rem;
  line-height: 1.25;
  color: white;
  padding: 1px 10px 2px 10px;
  margin-right:0.5em;
  cursor: pointer;
  display: inline-block;
}

/* Metamask Button */

.metamask-button {
  --border-width: 2px;
  --border-radius: 10px;
  background: linear-gradient(to right, #BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C);
  border: 0;
  padding: 0.2vw;
  position: relative;
  border-radius: var(--border-radius);
  z-index: 1;
}

.metamask-button::before{
  content: "";
  display: block;
  height: calc(100% - calc(var(--border-width) * 2));
  width: calc(100% - calc(var(--border-width) * 2));
  background: #010101;
  position: absolute;
  top: var(--border-width);
  left: var(--border-width);
  border-radius: calc(var(--border-radius) - var(--border-width));
  z-index: -1;
}

  /* Mint Button Gradient */

.mint-gradient {
  background: #D4AF37;
  background: linear-gradient(to bottom, #D4AF37 0%, #C5A028 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#D4AF37', endColorstr='#C5A028', GradientType=0);
  border: 1px solid #B69119;
  box-shadow: inset 0 1px 0 #E3BE46;
  background-size: 200% 200%;
}

.mint-gradient:hover {
  background: #D4AF37;
  background: linear-gradient(to top, #D4AF37 0%, #C5A028 100%);
  background: -webkit-gradient(linear, right bottom, right top, color-stop(0%, #D4AF37), color-stop(100%, #C5A028));
  background: -webkit-linear-gradient(bottom, #D4AF37 0%, #C5A028 100%);
  background: -moz-linear-gradient(bottom, #D4AF37 0%, #C5A028 100%);
  background: -o-linear-gradient(bottom, #D4AF37 0%, #C5A028 100%);
  background: -ms-linear-gradient(bottom, #D4AF37 0%, #C5A028 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#D4AF37', endColorstr='#C5A028', GradientType=0);
  border: 1px solid #B69119;
  box-shadow: inset 0 1px 0 #E3BE46;
  -webkit-box-shadow: inset 0 1px 0 #E3BE46;
  -moz-box-shadow: inset 0 1px 0 #E3BE46;
}

/* Socials Buttons */
  
.socials {
  width: 35%;
  margin-left: 1.5vw;
  height: 100%;
  background-color: #010101;
  border: 3px solid transparent;
  border-top:0;
  border-left:0;
  border-bottom:0;
  border-image: linear-gradient(to top, #BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C);
  border-image-slice: 1;
  position: absolute;
  padding: 1px 10px 2px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.discord {
  width: 100%;
  height: 100%;
  background: url(https://cdn.glitch.me/25b6213a-d9a0-40e8-a0f3-a6a3f834a75d%2Fdiscord-icon.svg?v=1638502992575) center no-repeat;
  background-size: 50%;
  cursor: pointer;
}

.twitter {
  width: 100%;
  height: 100%;
  background: url(https://cdn.glitch.me/25b6213a-d9a0-40e8-a0f3-a6a3f834a75d%2Ftwitter-icon.svg?v=1638502995176) center no-repeat;
  background-size: 50%;
  cursor: pointer;
}

.opensea {
  width: 100%;
  height: 100%;
  background: url(https://cdn.glitch.me/25b6213a-d9a0-40e8-a0f3-a6a3f834a75d%2Fopensea-icon.svg?v=1638502991459) center no-repeat;
  background-size: 50%;
  cursor: pointer;
}



/******************************************************************************
                                  Footer
******************************************************************************/

.footer{
    width: 100vw;
    height: 5vh;
    padding: 10px;
    bottom: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer h2 {
    font-size: 1vw;
    color: white;
    line-height: 100%;
}

/******************************************************************************
                                LANDING PAGE
******************************************************************************/

/* SPACE ANIMATION */

#dotContainer {
    perspective: 3000px;
    position: relative;
    background: #010101;
    width: 100vw;
    height: 100vh;
  }
  
.dot {
    position: absolute;
    width: 2px;
    height: 2px;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
  }

/* LANDING */


.landing {
    width: 100vw;
    height: 100vh;
    background: black;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* FLOATING ISLAND */

.island{
    width: 100vw;
    height: 80vh;
    background: url(https://cdn.glitch.me/25b6213a-d9a0-40e8-a0f3-a6a3f834a75d%2Ffloating-island-sketch-2.png?v=1638407352485) center no-repeat;
    background-size: contain;
    position: absolute;
    animation: float 6s ease-in-out infinite;
}

/* ISLAND ANIMATION */

@keyframes float{
    0%{
        transform: translateY(0);
    }

    50%{
        transform: translateY(5%)
    }
  
    100%{
        transform: translateY(0);
    }

}


/******************************************************************************
                      Media Queries for Responsiveness
******************************************************************************/

/* For Mobile Portrait View */

@media screen
  and (max-device-width: 480px)
  and (orientation: portrait){
    
     .links{
        top: 55px;
        left: 25px;
    }
    
     .links h1{
        font-size: 3.5vw;
	      line-height: 1.25;
    }
    
    .nav h1{
        font-size: 3.5vw;
	      line-height: 1.25;
    }
    
    .footer h2{
        font-size: 2vw;
    }
}
    
    
    
/* For Tablet View */

@media screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px){
   
     .links{
        top: 75px;
        padding-right:10px;
    }
    
    .links h1{
        font-size: 3.5vw;
	      line-height: 1.25;
    }
    
    .nav h1{
        font-size: 3.5vw;
	      line-height: 1.25;
    }

    .footer h2{
        font-size: 2vw;
    }
}

/******************************************************************************
                  End of Stylesheet for The Crypto Cartel
******************************************************************************/

/******************************************************************************
                              Old Nav Bar
******************************************************************************/

/* Nav Bar Properties */

/* .links {
	  position: absolute;
 	  top: 20px;
    left: 40px;
	  width:auto;
	  height: auto;
	  float:left;
    z-index: 1;
	  text-align: left;
}

.links h1{
    margin-top: 10px;
	  font-size: 1.5vw;
	  line-height: 1.25;
	  border-radius: 10px;
    background:black;
    color:white;
	  border: 2px solid white;
	  padding: 1px 10px 2px 10px;
    margin-right:0.5em;
	  display: inline-block;
}

.links h1:hover { 
	  border: 2px dotted pink;
    box-shadow: 5px 5px 10px pink;
	  color: pink;
    background:black;
}

.nav {
	  position: absolute;
 	  top: 20px;
    right: 40px;
	  width:auto;
	  height: auto;
    z-index: 1;
	  float:right;
	  text-align: left;
}


.nav h1{
    margin-top: 10px;
	  font-size: 1.5vw;
	  line-height: 1.25;
	  border-radius: 10px;
    background:white;
    color:black;
	  border: 2px solid black;
	  padding: 1px 10px 2px 10px;
    margin-right:0.5em;
	  display: inline-block;
}

.nav h1:hover {
	  border: 2px dotted pink;
    box-shadow: 5px 5px 10px pink;
	  color: pink;
    background:black;
} */